<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Face detection</h2>
            <p>
                Fast, simple & self-learned user identification system.
            </p>
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="row">
        <br>

        <div class="col-md-4">
            <mat-list>
                <mat-list-item>
                    <h4 mat-line>Demo 2</h4>
                    <h4 mat-line>Face detection</h4>
                    <a href="https://untitledproject1.kz/webcam_face_detection" target="_blank" mat-stroked-button>
                        <span>online demo</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>Demo 1</h4>
                    <h4 mat-line>Gender rocognition</h4>
                    <a href="https://untitledproject1.kz/webcam_age_and_gender_recognition" target="_blank"
                        mat-stroked-button>
                        <span>online demo</span>
                    </a>
                </mat-list-item>

                <!-- inprogress -->
                <mat-list-item>
                    <h4 mat-line>Demo 3</h4>
                    <h4 mat-line>People counting</h4>
                    <h6>IN_PROGRESS</h6>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>Demo 4</h4>
                    <h4 mat-line>Real-time find people by filter</h4>
                    <h6>IN_PROGRESS</h6>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>