<div class="docs">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1>Documentation</h1>
                <a mat-stroked-button color="primary" href="assets/EinixVision - full documentation.pdf">
                    Full documentation (ru)</a>
                <a mat-stroked-button color="primary" href="assets/EinixVision - full documentation (eng).pdf">
                    Full documentation (eng)</a>
            </div>

            <div class="col-md-12">
                <h1>Slides</h1>
                <a mat-stroked-button color="primary" href="assets/EinixVision - presentation.pdf">
                    Presentation slide (ru)</a>
                <a mat-stroked-button color="primary" href="assets/EinixVision - presentation (eng).pdf">
                    Presentation slide (eng)</a>
            </div>

            <div class="col-md-12">
                <h1>Video presentation</h1>
                <a mat-stroked-button color="primary" href="assets/videos/EinixVision - video presentation 480.mp4">
                    See video</a>
            </div>

        </div>
    </div>
</div>